
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <footer>
      
      
      
      
      
      
      
      
      
      
      
      
        <p>&copy; 2024 Tüm hakları saklıdır.</p>
   
   
   
    </footer>



