
    <header>
        <h1>Login System</h1>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/about">Hakkında</a></li>
                <li><a href="/contact">İletişim</a></li>
            </ul>
        </nav>
    </header>




<!doctype html>
<html lang="en">
<head>
    <meta ch arset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Giriş Sayfası</title>
    <style>
        .form-signin {
            width: 200%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>
<body class="text-center">
    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Email adresi">
                <label for="email">Email adresi</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Şifre">
                <label for="password">Şifre</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

 


